---
http_interactions:
- request:
    method: post
    uri: https://api.nfe.io/v1/companies
    body:
      encoding: UTF-8
      string: '{"exp_month":5,"exp_year":2017,"cvc":"021","name":"Doctor Who"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e12cmDevG5iLhSd9Y7BOpxynL86Detjd2R1D5jsP5UGXA8gwxug0Vojl3H9TIzBpbhI
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '"\"federalTaxNumber\" is not valid"'
  recorded_at: Mon, 24 Apr 2023 15:53:37 GMT
recorded_with: VCR 6.0.0
