---
http_interactions:
- request:
    method: get
    uri: https://api.nfe.io/v1/companies/25953366000106
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - e12cmDevG5iLhSd9Y7BOpxynL86Detjd2R1D5jsP5UGXA8gwxug0Vojl3H9TIzBpbhI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"companies\": {\r\n    \"id\": \"55e0a00c41c23f0a584b398a\",\r\n
        \   \"name\": \"Company Name\",\r\n    \"federalTaxNumber\": 25953366000106,\r\n
        \   \"email\": \"company@email.com\",\r\n    \"taxRegime\": \"LucroReal\",\r\n
        \   \"specialTaxRegime\": \"Nenhum\",\r\n    \"legalNature\": \"SociedadeEconomiaMista\",\r\n
        \   \"economicActivities\": [],\r\n    \"municipalTaxNumber\": \"2\",\r\n
        \   \"rpsSerialNumber\": \"IO\",\r\n    \"rpsNumber\": 0,\r\n    \"issRate\":
        0.0,\r\n    \"environment\": \"Development\",\r\n    \"fiscalStatus\": \"Pending\",\r\n
        \   \"certificate\": {\r\n      \"status\": \"Pending\"\r\n    },\r\n    \"createdOn\":
        \"2015-08-28T17:53:16.8316523+00:00\",\r\n    \"modifiedOn\": \"2015-08-28T17:53:16.8316523+00:00\"\r\n
        \ }\r\n}"
  recorded_at: Mon, 24 Apr 2023 15:53:39 GMT
recorded_with: VCR 6.0.0
